@import './../../../../scss/helpers/variables';

#topbar {
    background: #fff;
    padding: 3px 24px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    .contact-info {
      a {
        line-height: 1;
        color: #444;
        transition: 0.3s;
        :hover{
          color: $brand-primary;
        }
      }
      i{
        color: $brand-primary;
        padding: 4px;
      }
      .fa-phone {
        padding-left: 20px;
        margin-left: 10px;
      }
    }
    .social-links{
      a {
        color: $brand-primary;
        padding: 4px 12px;
        display: inline-block;
        line-height: 1px;
        transition: 0.3s;
        :hover{
          color: $brand-primary;
        }
      }
    }
  }