<section id="topbar" class="d-none d-lg-block">
    <div class=" clearfix">
        <div class="contact-info float-left">
            <i class="fa fa-envelope"></i><a href="mailto:shivwatercorporation@gmail.com">shivwatercorporation@gmail.com</a>
            <i class="fa fa-phone"></i><a href="tel:+918429555777"> +91 842 955 5777</a>
        </div>
        <div class="social-links float-right">
            <a href="https://twitter.com/killbacc" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/killbacccleaningproduct" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/killbacc/" class="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/killbacc-pvt-ltd-a86549202/" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>
</section>