<!-- ourTeamS -->
<div id="ourTeams" class="colorDark">
    <div class="container">
      <div class="sectionHeader">
        Our Team
      </div>
      <p class="sectionInfo">Our team brings a wealth of experience from some of the world's most formidable markets.</p>
      <div class="ourTeams row">
        <!-- <div class="col-xl-1 dispXXL"></div> -->
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
            <div class="member founder">
              <div class="pic"><img src="assets/shivendra.jpg" class="img-fluid" alt="Shivendra"></div>
              <div class="member-info">
                <h4>Shivendra Verma</h4>
                <span>Founder</span>
                <span>B.Tech and MBA</span>
                <span class="a">(Marketing & Sales)</span>
                <span class="a">10years experience in marketing and sales</span>

              </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
            <div class="member">
              <div class="pic"><img src="assets/manjul.jpeg" class="img-fluid" alt="manjul"></div>
              <div class="member-info">
                <h4>Manjul Verma</h4>
                <span>Co-founder</span>
                <span>B.Tech</span>
              </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
            <div class="member">
              <div class="pic"><img src="assets/anand.jpg" class="img-fluid" alt="anand"></div>
              <div class="member-info">
                <h4>Anand Verma</h4>
                <span>Co-founder</span>
                <span>B.Tech</span>
              </div>
            </div>
        </div>        
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
          <div class="member">
            <div class="pic"><img src="assets/pooja.jpg" class="img-fluid" alt="pooja"></div>
            <div class="member-info">
              <h4>Pooja</h4>
              <span>HR Head</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 dispXL"></div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
            <div class="member">
              <div class="pic"><img src="assets/mukesh.jpg" class="img-fluid" alt="mukesh"></div>
              <div class="member-info">
                <h4>Mukesh Kumar</h4>
                <span>Production Manager</span>
              </div>
            </div>
        </div>
        <!-- <div class="dispXL"></div> -->
        <!-- <div class="col-xl-2 dispXL"></div> -->
        <!-- <div class="col-3 dispXS"></div> -->

        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
            <div class="member">
              <div class="pic"><img src="assets/rakesh.jpg" class="img-fluid" alt="rakesh"></div>
              <div class="member-info">
                <h4>Rakesh Kumar</h4>
                <span>Marketing & Sales Manager</span>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>