<footer id="footer">
    <div class=" container footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 footer-info">
            <h3><a [routerLink]="['/home']">KillBacc</a></h3>
            <p>
              Industrial Area, Chhauchh,<br>
              Lakhimpur Kheri <br>
              Uttar Pradesh, 262701<br>
              India<br><br>
              <strong>Phone:</strong><a href="tel:+918429555777"> +91 842 955 5777</a><br>
              <strong>Email:</strong><a href="mailto:shivwatercorporation@gmail.com"> shivwatercorporation@gmail.com</a><br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="home#hero">Home</a></li>
              <li><i class="fa fa-chevron-right"></i> <a [routerLink]="['/products']" >Products</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="home#about">About Us</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="home#faq">FAQ</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="home#contact">Contact Us</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Values</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> We accept change</li>
              <li><i class="fa fa-chevron-right"></i> We are customer driven</li>
              <li><i class="fa fa-chevron-right"></i> We develop leading brands</li>
              <li><i class="fa fa-chevron-right"></i> We value and respect our people</li>
              <li><i class="fa fa-chevron-right"></i> We aspire to excellence in quality</li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Social Networks </h4>
            <p>Join our social networks for latest updates </p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/killbacc" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/killbacccleaningproduct" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/killbacc-pvt-ltd-a86549202/" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/killbacc/" class="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>

  </footer>

  <!-- Copuright -->
  <div id="copyright">
    <div class="container ">
      <span class="copyrightText"> <b>ISO 9001:2015</b> Certified, MSME Certified. All Rights Reserved </span>
      <img src="/assets/makeInIndia.png" alt="make in india">
      <!-- <span class="copyrightText"> &#169; CopyrIght <b>KillBac</b>. All Rights Reserved </span> -->
    </div>
    <div class="button">
      <a href="#top"><button><i id="arrow5" class="fa fa-chevron-up"></i></button></a>
    </div>
  </div>