<section class="admin-main">
    <div class="row body">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <div class="card">
                <div class="card-header">Total Products</div>
                <div class="card-body">
                    {{productCount}}
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <div class="card">
                <div class="card-header">Total Categories</div>
                <div class="card-body">
                    {{categoryCount}}
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <div class="card">
                <div class="card-header">Total Users Visit</div>
                <div class="card-body">
                    {{totalUserCount}}
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
            <div class="card">
                <div class="card-header">User Visit This Month</div>
                <div class="card-body">
                    {{monthlyUserCount}}
                </div>
            </div>
        </div>
    </div>
</section>

